# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Poetry
poetry.lock
.poetry/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Data (не коммитим данные)
data/
*.csv
*.h5
*.hdf5
*.parquet
*.feather
*.pickle
*.pkl

# Models
models/
*.pth
*.ckpt
*.onnx
*.plan
*.trt

# MLflow
mlruns/
mlflow_model/
mlartifacts/

# Lightning
lightning_logs/

# Hydra
outputs/
multirun/

# DVC
.dvc/tmp
.dvc/cache
**/.dvc/tmp
**/.dvc/cache

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
wandb/

# Specific
.hydra/
mlflow.db
