# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.env
.venv

# Poetry
poetry.lock
.poetry/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Data (игнорируем только корневую data, но не configs/data)
/data/
!configs/data/

# Model artifacts
/models/
!src/sports_classifier/models/
*.pth
*.ckpt
*.onnx
*.plan
*.trt

# MLflow
mlruns/
mlflow_model/
mlartifacts/

# Lightning
lightning_logs/

# Hydra
outputs/
multirun/

# DVC
.dvc/
**/.dvc/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
wandb/

# Specific
.hydra/
mlflow.db
